*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-style: normal;
}
body{
  background-color: rgba(241, 241, 241, 1);
  position: relative;
}
html, h1{
  font-size: 62.5%;
}
p, h1{
  margin: 0;
}
/* body.dark, .sidebar.dark, .main.dark, .header.dark{
  background-color: transparent;
  background: linear-gradient(
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.1)
  );
} */

